body{
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Arial, sans-serif;
}

/* Header Styles */
.header{
  color: white;
  text-align: center;
}

h1{
  font-size: 2.5em;
  margin: 15px;
}

a{
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

li{
  display: inline;
  padding: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LeaderBoard Styles */
.static-container{
  margin: 50px auto;
  width: 50%;
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

#leaderboard-table{
  width: 100%;
  border-collapse: collapse;
}

table{
  font-size: 1.1em;
}

tbody tr{

  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1.4em;
}

tbody td{
  padding: 20px 0;
  text-align: center;
}

th{
  padding: 10px;
}

#leaderboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.static-container h2{
  font-size: 2em;
  margin: 0;
  padding: 0;
}


/* Game Styles */
.game-container {
  position: relative;
  background: url('../img/strip-01.png') no-repeat center center;
  background-size: cover;
  width: 80vw;
  height: 45vw;
  max-width: 1280px;
  max-height: 720px;
  margin: 50px auto;
  overflow: hidden;
  border: 2px solid #fff;
}

#backgroundLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

/* Layered overlays */
.overlay {
  position: absolute;
  pointer-events: none;
}

#car {
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}

#wheel {
  bottom: 25%;
  left: 30%;
  transform: translateX(-50%);
  width: 13%;
  display: none;
}

#tree {
  top: 10%;
  left: 5%;
  width: 20%;
}

#timer {
  top: 13.5%;
  right: 35.5%;
  color: #fff;
  font-family: monospace;
  font-size: 200%;
  text-shadow: 2px 2px #000;
}

#menu {
  position: absolute;
  pointer-events: auto;
  top: 32.5%;
  left: 25%;
  height: 35%;
  min-height: 160px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

#menu h2 {
  font-size: 2em;
  margin: 0;
  margin: 7% 0 10px 0;
  color: #111;
}

#menu button, #menu a {
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

#menu button:hover, #menu a:hover {
  background-color: #000;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
}


#username-input {
  margin: 10px 0 10px 5px;
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
}

#username-input:focus {
  outline: none !important;
  border: 2px solid #111;
}

#needle{
  top: 73%;
  left: 16.7%;
  height: 12%;
  display: none;
}

img, .overlay, .gameComponent, #gameCanvas, #backgroundLayer, #menu {
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging images */
  -webkit-user-select: none; /* Chrome/Safari fix */
  -moz-user-select: none; /* Firefox fix */
  -ms-user-select: none; /* IE fix */
}

/* About Styles */
ol{
  text-align: left;
  margin-bottom: 20%;
}

ol li{
  display: list-item;
  padding: 10px 0;
}

#about-container{
  min-width: 300px;
  max-width: 500px;
  font-size: 1.2em;
}

#about-container p{
  text-align: left;
  padding-left: 40px;
}
